.mockups{
  display: flex;
  flex-direction: row;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  max-width: 800px;
  max-height: 800px;
}
.mockups img{
  max-height: 800px;
  width: 100%;

  border-radius: 5px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: .5rem;
}

/*Figure out the scroll-margin here to get a sneak peak of the next image!*/