/*intro section*/
#intro{
  background-color: #FFF3E8;
  padding: 3rem 15%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
#profile-img{
  width: 275px;
}
.intro-profile{
  display: flex;
  justify-content: center;
  align-items: center;
}
div.intro-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-text p{
  max-width: 600px;
}
/*intro tablet media query*/
@media(min-width: 950px){
  #intro{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
  }
}


/*Skills section*/
#skills-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--blue);
  padding: 3rem;
}
#skills-objects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
#skills-title{
  color: white;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 2rem;
}
.skills-object{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.skills-object h4{
  text-align: center;
  color: white;
  width: 200px;
  margin: 0;
}

/*Skills section tablet media query*/
@media(min-width: 768px){
  #skills-objects-container{ /*makes objects go into row*/
    flex-direction: row;
  }
}

/*Projects text section*/
#projects-text-section{
  background-color: var(--beige);
  text-align: center;
  padding: 3rem;
}
#projects-link, #projects-link:visited{
  color: var(--brown);
}
#projects-link:hover{
  color: var(--blue);
}

/*Projects preview*/
#projects-preview{
  display: flex;
  flex-direction: column;
}
.preview-item{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /*must set this position to center the text on top*/
}
.preview-item img{
  width: 100%; /*images fill all of container*/
}
.preview-title{
  position: absolute; /*must set this position to center the text on top*/
  top: 0;
  left: 0;
  width:100%;    
  height:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.preview-title h5{
  color: white;
  text-align: center;
  margin-bottom: 10px; /*separates title from the year*/
  margin-top: 10px;
  width: 350px;
}
.preview-title h6{
  color: white;
  text-align: center;
  margin: 0;
}
.preview-item:nth-child(4) { /*the smaller screen sizes won't display the fourth project*/
  display: none;
}
/*Had to add this media query bc/ by wrapping this preview item in an <a>, black space was created at larger screen size*/
@media(min-width: 1200px){
  .preview-item:nth-child(2) img {
    width: 900px;
  }
}

/*Projects preview grid set up*/
/*selectors must relate to class, not section #projects-preview*/
@media(min-width: 768px){
  .preview-item{
    overflow: hidden; /*fixes overflow problem*/
  }
  .preview-item:first-child{ /*the first preview item*/
    grid-area: a;
  }
  .preview-item:nth-child(2){ /*the second preview item*/
    grid-area: b;
  }
  .preview-item:nth-child(3){ /*the third preview item*/
    grid-area: c;
  }
  .preview-item:nth-child(4){ /*the third preview item*/
    grid-area: d;
  }
  #projects-preview{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "a a b"
      "a a c";
  }
  /*preview title media query on the second 2 preview items to make them fit in the grid*/
  /*add a media query and change the size between tablet and desktop!!!*/
  .preview-item:nth-child(2) .preview-title h5, .preview-item:nth-child(3) .preview-title h5, .preview-item:nth-child(4) .preview-title h5{
    font-size: 1.5rem; /*cut down the size by a half*/
    width: 275px;
  }
  .preview-item:nth-child(2) .preview-title h6, .preview-item:nth-child(3) .preview-title h6, .preview-item:nth-child(4) .preview-title h6{
    font-size: 1rem;
  }
}
@media(min-width: 1200px){ /*or 992?*/
  /*changing title size and width again for the second child for the final grid*/
  .preview-item:nth-child(2) .preview-title h5{
    font-size: 2rem;
    width: 400px;
  }
  .preview-item:nth-child(2) .preview-title h6{
    font-size: 1.25rem;
  }
  .preview-item:nth-child(4) {
    display: inherit;
  }
  #projects-preview{
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*ewww why won't this fill? :( */
    grid-template-areas: 
      "a a b b"
      "a a c d";
  }
}
@media(min-width: 1600px){
  #projects-preview{
    grid-template-rows: 400px 400px; /*would have used a minmax() function with grid, but wasn't picking the minimum width first*/
  }
}

/*preview item animation on hover*/
.preview-item{ /*for black overlay*/
  background: black;
}
.preview-title{
  opacity: 0%;
  transition: .5s ease;
}
.preview-title:hover{
  opacity: 100%;
}
.preview-img{
  opacity: 100%;
  transition: .5s ease;
}
.preview-item:hover .preview-img{ /*putting .preview-img after the hover makes it so you can hover over one without applying the opacity to all*/
  opacity: 30%; /*changes how strong the black overlay is*/
}

