*{
  box-sizing: border-box;
  /*1rem is equal to 12px*/
}
body{
  margin: 0;
}

/*Nav*/
.logo{
  width: 100px; /*can change logo size later*/
  cursor: pointer;
  padding: 10px; /*prevents weird gap between nav and nav links in mobile version*/
}
nav{
  display: flex;
  justify-content: space-around;
  gap: 250px; /*space between logo and burger*/
  padding: 20px 0px;
  align-items: center;
  min-height: 8vh;
  background-color: #FFF3E8;
  font-family: ofelia-text,sans-serif;
}
.nav-links{
  display: flex;
  /*justify-content used with width changes the spacing of the nav items. can change later*/
  justify-content: space-around;
  width: 35%;
  padding-left: 0;
  z-index: 1; /*ensures that the nav is top layer among other layers*/
}
.nav-links a:hover{
  font-weight: 500;
}
.nav-links li{ /*to remove the bullet points from the list*/
  list-style: none;
}
.nav-links a{
  color: #473D33;
  text-decoration: none;
}

/*responsive nav*/
.burger div{
  width: 55px;
  height: 2px;
  background-color: #473D33;
  margin: 10px;
  transition: all .20s ease; /*this is where the transition goes instead of in .toggle*/
}
.burger{
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 768px){ /*this changes what the mobile design looks like*/
  html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }
  .nav-links{
    background: #FFF3E8;
    position: absolute; /*maybe try other positioning?*/
    height: 100vh;
    top: 10vh; /*gap between top of nav and menu*/
    width: 100%; /*changes how much space the nav takes up on the screen*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start; /*correcting the original space-around justification*/
    padding-top: 125px; /*makes the ul list slightly more centered vertically*/
    gap: 70px;

    transform: translateX(100%); /*this moves the nav off the screen*/
    transition: transform 0.5s ease-in; /*the transition for the nav sliding in*/
  }
  .nav-links a{
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
  }
  .nav-links li{
    opacity: 0; /*must leave this here so you can't see the links before they animate*/
  }
  .burger{
    display: block; /*adds the burger menu in for mobile screen sizes*/
  }
  .nav-active{ /*this class must be inside the media query. made mistake of taking it out*/
    transform: translateX(0%); /*When the nav is active, it no longer lives to the side of the viewport*/
    height: 120vh; /*need to change this number once other sections are finalized*/
  }
  .hide{ /*hiding content while still leaving screen reader accessible. got from css-tricks.com*/
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
 }
 .body-position{
  position: initial;
  }

 /*making animation for nav-links to use in home.js*/
@keyframes navLinkFadeIn{
  from{
    opacity: 0; /*nav items will fade in from 0% opacity to 100% opacity*/
    transform: translateX(50px); /*nav items will also move down slightly*/
    /*these two properties create a fade down effect*/
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
}

/*making animations stop when page is resized*/
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/*making the burger menu toggle to an X*/
.toggle .line1{
  transform: rotate(-45deg) translate(-1px, 17px); /*might have to come back to this translate number*/
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(1px, -17px);
}

/*Main background color*/
main{
  background-color: #FFF3E8;
}


/*main*/
#scroll-message{
  font-family: ofelia-text,sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  margin: 0;
  /* padding-left: 2rem; */
  color: rgb(28, 24, 20, .75);
}
#piece-data-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#piece-data{
  align-self: flex-start;
  padding-top: 3rem;
}
#main-container{
  padding: 3rem;
  display: flex;
  flex-direction: column;    
  align-items: center;
}
#secondary-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media(min-width: 1200px){
  #main-container{
    /* padding: 3rem 9rem 3rem 9rem; */
    padding: 3rem 12% 3rem 12%;
  }
}
h2{
  font-family: ofelia-text,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.67rem;
  color: #473D33;
  margin: 0;
}
#piece-data{
  max-width: 600px;
}
.carousel-container{
  display: flex;
  padding: 0;
  gap: 2rem;
}
#slider-right img, #slider-left img{
  width: 2rem;
}
.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 3rem 0rem 3rem 0rem;
}
.carousel-track-container{
  padding: 0;
}
.carousel-track{
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: scroll; /*until I can get intersection observer to work on carousel, the scrollbar will stay in place*/
  padding-bottom: 1rem;
  scroll-behavior: smooth;
  max-width: 800px;
}
.carousel-track img{
  width: 100%;
  max-width: 800px;
  max-height: 800px;
  border-radius: 5px;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  margin: .5rem;
}
.carousel-button{
  background: none;
  border: none;
  cursor: pointer;
}
.carousel-nav-container{
  padding: 0;
}
.carousel-nav{
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
}
.carousel-indicator{
  height: 10px;
  width: 10px;
  background-color: rgb(28, 24, 20, .3);
  border-radius: 50%;
}
.current-indicator{
  background-color: rgb(28, 24, 20, 1);
}
/* .carousel-button img{
  height: 60px;
} */
@media(min-width: 1200px){
  #piece-data-container{
    flex-direction: row;
    gap: 100px;
    align-items: center;
  }
}
#featured-piece{
  padding: 30px 0px;
}
h3{
  border-bottom: 2px solid #473D33;
  font-family: ofelia-text,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.67rem;
  color: #473D33;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
}
h4{
  font-family: ofelia-text,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.67rem;
  color: #473D33;
  margin: 0;
  padding-top: 5px;
}
#date-container h3:nth-child(2), #material-container h3:nth-child(2){
  font-family: ofelia-text,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.67rem;
  color: #473D33;
  margin: 0;
}
p{
  font-family: venn, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #473D33;
  margin: 0;
  padding-top: 5px;
}
section div{
  padding-bottom: 30px;
}


/*Footer*/
footer{
  background-color: #FFF3E8;
  padding: 3rem;

  /*to center*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

#footer-graphic{
  max-width: 100px;
}
#footer-text{
  text-align: center;
  color: #473D33;
}
#footer-text-title{
  font-family: ofelia-text,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25rem;
  margin: 10px;
}
#copyright{
  font-family: ofelia-text,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}