/*main*/
main{
  background-color: #FFF3E8;
}
#main-container{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2{
  font-family: ofelia-text,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.67rem;
  color: #473D33;
  margin: 0;
}
#piece-data{
  max-width: 600px;
}
#featured-piece{
  padding: 3rem 0rem 3rem 0rem;
}
#featured-piece img{
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
}
@media(min-width: 1200px){
  #piece-data-container{
    display: flex;
    gap: 100px;
    align-items: center;
  }
}
h3{
  border-bottom: 2px solid #473D33;
  font-family: ofelia-text,sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.67rem;
  color: #473D33;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 5px;
}
h4{
  font-family: ofelia-text,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.67rem;
  color: #473D33;
  margin: 0;
  padding-top: 5px;
}
#date-container h3:nth-child(2), #material-container h3:nth-child(2){
  font-family: ofelia-text,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.67rem;
  color: #473D33;
  margin: 0;
}
p{
  font-family: venn, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: #473D33;
  margin: 0;
  padding-top: 5px;
}
section div{
  padding-bottom: 30px;
}
