/*Portfolio Section*/
main{
  background-color: var(--beige);
}
#portfolio-header{
  display: flex;
  justify-content: space-around;
  padding: 3rem 0rem;
}
#filter-container{
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .15);
  position: absolute; /*Positioned out of the document flow, but in relation to .dropdown*/
  top: 6rem; /*separates the word "filter" from the dropdown menu*/

  /*Animation for the dropdown menu on mobile*/
  opacity: 0;
  transform: translateY(-10px);
  transition: 150ms ease-in-out;
}
/*Dropdown animation applied to the #filter-container*/
/*Had to add !important for it to work?*/
.dropdown-menu-active{
  opacity: 1 !important;
  transform: translateY(0) !important;
}
.dropdown{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative; /*positioned relative to its normal position*/
}
#dropdown-button{
  color: var(--brown);
  margin-top: 12px; /*fixing typeface discrepancy*/
  cursor: pointer;
}
.filter-element{
  padding: 8px;
  cursor: pointer;
}
.filter-element:hover{
  font-weight: 600;
}
.filter-active{ /*gives the user feedback about the filter they selected*/
  font-weight: 700;
}
.gallery-item.hide-image{
  display: none;
}
.img-container{
  height: 212px;
  /*no width for this because it will just follow the width of .gallery-item*/
}
#gallery-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery-item{
  width: 300px;
  padding-bottom: 50px;
  border-bottom: 2px solid var(--brown);
  /*Need to make line cap rounded*/
  margin-bottom: 50px;
}
.gallery-item a{
  text-decoration: none;
}
/*Media query for gallery items*/
@media(min-width: 480px){
  .gallery-item{
    width: 400px;
  }
}
.gallery-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}
.overlay h3{
  color: var(--brown);
  margin: 0;
  padding-top: 10px;
  max-width: 400px;
}


/*Portfolio section media query*/
@media(min-width: 768px){
  .dropdown{
    position: initial;
  }
  #filter-container{
    position: initial;
    opacity: 1; /*to ensure that the filters show up regardless of the event listener*/
  }
  #dropdown-button{
    display: none;
  }
  #filter-container{
    display: flex;
    flex-direction: row;
    background-color: inherit;
    box-shadow: none;
    padding: 0;
  }
  .filter-element{
    padding: 16px;
  }
  .filter-element{
    font-size: 1.67rem;
  }
  .filter-element:first-child{
    padding-left: 0;
  }
  #portfolio-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15%;
  }
  #portfolio{
    display: flex;
    justify-content: center;
    padding-bottom: 6rem;
  }
  #gallery-container{
    display: inline-block;
    width: 70%;
    column-count: 3;
    column-gap: 0.5rem;
    /* margin: 0 auto; */
  }
  .gallery-item{
    width: 100%;
    margin-bottom: 0.5rem;
    border-bottom: none;
    padding: 0;
    position: relative; /*This stops clumping of the titles*/
    border-radius: 5px;
  }
  .img-container{
    height: initial;
    width: initial;
    background-color: black;
    border-radius: 5px;
  }
  /*Overlay animation*/
  .overlay h3{
    color: white;
    font-size: 1rem;
  }
  .overlay{ /*the text overlay*/
    position: absolute;
    top: 0px;
    padding: 1rem;
    opacity: 0;
  }
  /*preview item animation on hover*/
  /*the styling of these first two elements are necessary to have the transition animate on the off hover*/
  .gallery-item .overlay{
    opacity: 0;
    transition: .5s ease;
  }
  .gallery-item .gallery-image{
    opacity: 100%;
    transition: .5s ease;
  }
  .gallery-item:hover .overlay{
    opacity: 1;
    transition: .5s ease;
  }
  .gallery-item:hover .gallery-image{
    opacity: 20%;
    transition: .5s ease;
  }

  /*adding gallery item hover effect with drop shadow*/
  .gallery-item{
    box-shadow: none;
    transition: .5s ease;
  }
  .gallery-item:hover{
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .5);
  }
  /*adding gallery item hover effect with slight movement up*/
  .gallery-item{
    position: relative; /*adding this so I can animate it slightly upwards on the hover*/
    bottom: 0;
    transition: .5s ease;
  }
  .gallery-item:hover{
    bottom: 3px;
  }

}
/*Another portfolio media query*/
@media(min-width: 1000px){ /*used to be 1100*/
  .overlay h3{
    font-size: 1.5rem;
  }
}
