/*main*/
main{
  background-color: var(--beige);
}
#main-container{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#piece-data{
  max-width: 600px;
  align-self: flex-start;
  padding-top: 3rem;
}
#featured-piece{
  padding: 3rem 0rem 3rem 0rem;
}
#featured-piece img{
  width: 100%;
  max-width: 600px;
  border-radius: 5px;
}
@media(min-width: 1200px){
  #piece-data-container{
    display: flex;
    gap: 100px;
    align-items: center;
  }
}
h3{
  border-bottom: 2px solid var(--brown);
  text-transform: uppercase;
  padding-bottom: 5px;
}
h4{
  padding-top: 5px;
}
p{
  padding-top: 5px;
}
section div{
  padding-bottom: 30px;
}
